<ion-header>
  <ion-toolbar>
    <ion-title>property-new</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Surface</ion-label>
    <ion-input [(ngModel)]="property.surface"></ion-input>
  </ion-item>

  <ion-button color="primary" (click)="takePicture()">Caméra</ion-button>

  <ion-button color="primary" (click)="validate()">Valider</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let photo of photos; index as position"
      >
        <ion-img [src]="photo.webPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
