<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <li *ngFor="let mission of items$ | async">
      {{ mission.description }}
    </li>

    <div>
      <a routerLink="/property-new">Nouveau bien</a>
    </div>
    <div>
      <a routerLink="/properties">Biens</a>
    </div>

    <div>
      <a routerLink="/login">Login</a>
    </div>
    <div>
      <a routerLink="/signup">Signup</a>
    </div>
    <div>
      <a routerLink="/users">Users</a>
    </div>

    <div>
      <a routerLink="/appointments">Rendez-vous</a>
    </div>
  </div>
</ion-content>
